<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="indexBinding"/>
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://app-9c76bc9f-d6b8-4221-83fd-9e8cd702204f.cleverapps.io/index.php" binding="basicHttpBinding" bindingConfiguration="indexBinding" contract="ServiTenisSoap.indexPortType" name="indexPort"/>
      </client>
    </system.serviceModel>
</configuration>
